.cart-items {
  background: #f6f9fc;
  height: auto;
  padding: 50px 0;
}

.cart-items .cart-details {
  width: 70%;
}

.cart-items .cart-total {
  width: 30%;
  margin-top: 30px;
  margin-left: 30px;
  height: 130px;
}
.cart-list {
  background: white;
  margin-top: 40px;
}
.cart-items .img {
  width: 150px;
  height: 150px;
}
.cart-items img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.cart-items .cart-details h3 {
  font-size: 20px;
  font-weight: 500;
  margin-top: 20px;
}
.cart-items .cart-details h4 {
  font-size: 15px;
  font-weight: 400;
  margin-top: 50px;
  color: white;
}
.cart-items h4 span {
  color: #B78D65;
  margin-left: 20px;
  font-weight: 500;
}
.removeCart {
  background: none;
  font-size: 25px;
  text-align: right;
  margin-right: 10px;
}
.cartControl {
  margin-top: 50px;
}
.cartControl button {
  width: 40px;
  height: 40px;
  margin: 10px;
  border-radius: 5px;
  font-size: 20px;
}
.incCart {
  background: none;
  border: 1px solid rgb(3 0 71 / 9%);
  color: #B78D65;
}
.desCart {
  background: #f6f9fc;
}
.cart-total h2 {
  font-size: 18px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgb(3 0 71 / 9%);
  padding-bottom: 10px;
  color: #B78D65;
}
.cart-total .d_flex h4 {
  font-size: 15px;
  font-weight: 400;
}
.cart-total .d_flex h3 {
  font-size: 20px;
  font-weight: 500;
  color: #B78D65;
}
.no-items {
  color: #B78D65;
  font-size: 18px;
  margin-top: 50px;
  height: 130px;
  background: #fff ;
  padding: 20px;
  position: relative;
  border-radius: 8px;
  box-shadow: rgb(3 0 71 / 9%) 0px 1px 3px;
  margin: 10px;
  justify-content: space-between;
  align-items: center;
  
}

.d_flex {
  display: flex;
  justify-content: space-between;
}
.cart-total {
  background: #fff;
  padding: 20px;
  position: relative;
  border-radius: 8px;
  box-shadow: rgb(3 0 71 / 9%) 0px 1px 3px;
  margin: 10px;
}

.container {
  max-width: 90%;
  margin: auto;
}
.paybtn{
  margin-left: 75%
}
.btn{
  color: #f6f9fc;
}
