.cart-items {
  background: #f6f9fc;
  height: auto;
  padding: 50px 0;
  justify-content: space-between;
}
.cart-items > .container {
  display: flex;
}
.cart-details {
  width: 70%;
}

.cart-total {
  width: 30%;
  margin-top: 30px;
  margin-left: 30px;
  height: 130px;
}
.cart-list {
  background: white;
  margin-top: 40px;
}
.cart-image {
  width: 150px;
  height: 150px;
}
.cart-items img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.cart-items .cart-details h3 {
  font-size: 20px;
  font-weight: 500;
  margin-top: 20px;
  text-transform: capitalize;
}
.cart-items .cart-details h4 {
  font-size: 15px;
  font-weight: 400;
  margin-top: 50px;
  color: white;
}
.cart-items h4 span {
  color: #b78d65;
  margin-left: 20px;
  font-weight: 500;
}
.removeCart {
  background: none;
  font-size: 25px;
  text-align: right;
  margin-right: 10px;
}
.cartControl {
  margin-top: 50px;
}
.cartControl button {
  width: 40px;
  height: 40px;
  margin: 10px;
  border-radius: 5px;
  font-size: 20px;
}
.incCart {
  background: none;
  border: 1px solid rgb(3 0 71 / 9%);
  color: #b78d65;
}
.desCart {
  background: #f6f9fc;
}
.cart-total h2 {
  font-size: 18px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgb(3 0 71 / 9%);
  padding-bottom: 10px;
  color: #b78d65;
}
.cart-total .d_flex h4 {
  font-size: 15px;
  font-weight: 400;
}
.cart-total .d_flex h3 {
  font-size: 20px;
  font-weight: 500;
  color: #b78d65;
}
.no-items {
  color: #b78d65;
  font-size: 18px;
  margin-top: 50px;
  height: 130px;
  background: #fff;
  padding: 20px;
  position: relative;
  border-radius: 8px;
  box-shadow: rgb(3 0 71 / 9%) 0px 1px 3px;
  margin: 10px;
  justify-content: space-between;
  align-items: center;
}

.d_flex {
  display: flex;
  justify-content: space-between;
}
.cart-total {
  background: #fff;
  padding: 20px;
  position: relative;
  border-radius: 8px;
  box-shadow: rgb(3 0 71 / 9%) 0px 1px 3px;
  margin: 10px;
}

.container {
  max-width: 90%;
  margin: auto;
}
.paybtn {
  margin-left: 70%;
}
.btn {
  background-color: #b78d65;
  margin-right: 40%;
  width: 250px;
  height: 60px;
  color: #fff;
  font-size: 15px;
}

@media (max-width: 768px) {
  .cart-items > .container {
    display: block;
  }
  .cart-details{
    width: 100%;
  }
  .cart-total {
    width: 300px;
  }

 .cart-image img{
  width: 50px;
 }

  .cart-items .cart-details {
    margin-bottom: 20px;
  }

  .cartControl button {
    width: 25px;
    height: 25px;
    font-size: 14px;
  }

  .paybtn {
    margin: 20px auto;
  }

  .btn {
    width: 100%;
  }
}
