.checkout {
  font-family: Arial, sans-serif;
}

.checkout_body {
  width: 600px;
  height: 800px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.checkout_font {
  color: #333;
  text-align: center;
}
.review_img {
  width: 150px;
  height: 150px;
}
