.light {
  --bg-color: white;
  --text-color: black;
}

.dark {
  --bg-color: black;
  --text-color: white;
}
.navbarr ul li{
  display: flex;
  font-size: 15px;
  margin-left: 100px;
  list-style: none;
  padding: 5px 5px;
  position: relative;
  /* justify-content: end; */
}
