:root {
  --primary: #B78D65;
  --light: #F8F8F8;
  --dark: #252525;
}

.light {
  --bg-color: white;
  --text-color: black;
}

.dark {
  --bg-color: black;
  --text-color: white;
}
.navs{
  background-color:#B78D65 ;
}
.navbarr ul .active{
  display: flex;
  font-size: 15px;
  margin-left: 80px;
  list-style: none;
  position: relative;
}
.nav-link{
  color: #ffffff;
}
.navbar-brand{
  margin-left: 30px;
  color: #ffffff;
}
.c_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.f_flex {
  display: flex;
}
.cart{
  border: 2px solid black;
  width: 80px;
  height: 40px;
  border-radius: 20px;
}
.shopping{
  padding: 5px;
}
