:root {
  --primary: #B78D65;
}
.navs {
  background-color: var(--primary);
}
.navbarr .nav-item{
  display: flex;
  font-size: 15px;
  padding-left: 100px;
  list-style: none;
  position: relative;
}
.nav-link{
  color: #ffffff;
}
.navbar-brand{
  margin-left: 30px;
  color: #ffffff;
}
.navbar-toggler {
  border: none; 
}

.c_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.f_flex {
  display: flex;
}
.cart{
  border: 1px solid #ffffff;
  width: 70px;
  height: 40px;
  border-radius: 20px;
}
.shopping{
  padding: 5px;
}
.cart-count {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #ff0000; 
  color: #ffffff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

@media (max-width: 768px) {
  .navbarr ul .active {
    padding: 10px 0;
    font-size: 14px; 
    justify-content: center;
  }
  .navbar-brand {
    font-size: 20px; 
  }
  .navbar-toggler {
    border: none; 
  }
  .cart-count {
    width: 18px;
    height: 18px; 
    font-size: 10px; 
    left: 52%;
    top: 20%;
  }
}