footer {
  background-color: #b78d65;
  padding: 50px 0;
  color: #fff;
}
footer h1 {
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: 800;
  font-style: italic;
}
footer .img {
  background-color: #b78d65;
  border-radius: 5px;
}
footer .img i {
  font-size: 20px;
  margin: 5px;
}
footer .img span {
  width: 100%;
}
footer p {
  font-size: 14px;
  font-weight: 300;
  opacity: 0.5;
  margin-bottom: 20px;
}
footer h2 {
  margin-bottom: 15px;
  text-align: center;
}
footer li {
  margin-bottom: 10px;
  opacity: 0.5;
}
.box ul li{
    list-style: none;
    text-align: left;
    margin-left: 25px;
}
