.App {
  text-align: center;
}
.Container{
  width: 100%;
  overflow: hidden;
}




/* .product  {
  font-size: 15px;
  color: #ffcd4e;
  margin: 5px 5px 5px 0;
} */

.product {
  display: flex;
  justify-content: space-between;
  /* color: #e94560; */
}

.product:hover .product-like {
  opacity: 1;
}

