.App {
  text-align: center;
}
.Container{
  width: 100%;
  overflow: hidden;
}

.product {
  display: flex;
  justify-content: space-between;
  /* color: #e94560; */
}

.product:hover .product-like {
  opacity: 1;
}
/* .d_flex {
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
} */

.c_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.f_flex {
  display: flex;
}
.icon-circle {
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: #f3f5f9;
  margin-left: 20px;
  text-align: center;
  border-radius: 50%;
}
