
.product {
  padding: 20px;
  position: relative;
  border-radius: 8px;
  margin: 10px;
  max-width: 100%;
}

.staticImageFrame {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
}

.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.imageContainer {
  width: 100px;
  height: 100px;
}

.staticSingleFrame h5 {
  text-align: center;
  font-size: 14px;
}

.staticSingleFrame p {
  text-align: center;
  font-size: 12px;
}

.product .rate i {
  font-size: 14px;
  color: #ffcd4e;
  margin: 5px 1px;
}

.price button {
  background: none;
  color: #e94560;
  font-size: 18px;
  transition: 0.3s;
  border: 1px solid rgba(3, 0, 71, 0.09);
  width: 35px;
  height: 35px;
  border-radius: 5px;
}

.price button:hover {
  cursor: pointer;
  background-color: #e94560;
  color: #fff;
}

.staticSingleFrame {
  background-color: #fff;
  box-shadow: rgba(3, 0, 71, 0.09) 0px 1px 3px;
  padding: 30px;
}

.product-like {
  position: absolute;
  top: 30px;
  right: 10px;
  opacity: 0;
  transition: opacity 0.5s;
}

.product:hover .product-like {
  opacity: 1;
}


@media (max-width: 768px) {
  .product {
    margin: 10px;
    padding: 10px;
  }

  .imgContainer {
    justify-content: center;
  }

  .staticImageFrame h5 {
    font-size: 12px;
  }

  .staticImageFrame p {
    font-size: 10px;
  }

  .price button {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .imgContainer {
    justify-content: center;
    flex-direction: column;
  }

  .imageContainer {
    width: 80px;
    height: 80px;
  }

  .staticImageFrame h5 {
    font-size: 10px;
  }

  .staticImageFrame p {
    font-size: 8px;
  }
}
